@page
@model Hotel.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hotels</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotels.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotels.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotels.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotels.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotels.Rooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotels.Rooms)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hotels.HotelId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
